body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f7f7f7;
}

header {
    background: #222;
    color: white;
    padding: 20px;
}

.hero img {
    width: 250px;
    margin-top: 30px;
}

.features {
    padding: 20px;
}

.features ul {
    list-style: none;
    padding: 0;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background: #ddd;
}
